/*------------------------------------------------------------------
[General Reset]
*/
@import '~vuetify/src/stylus/generic/_reset'

/*------------------------------------------------------------------
[General Bootstrap]
  Include theme variables, mixins, colors
*/  
@import '~vuetify/src/stylus/bootstrap'

/*------------------------------------------------------------------
[Generic Animations]
*/    
@import '~vuetify/src/stylus/generic/_animations'
/*------------------------------------------------------------------
[Generic Colors]
*/    
@import '~vuetify/src/stylus/generic/_colors'

/*------------------------------------------------------------------
[Generic Elevations]
*/      
@import '~vuetify/src/stylus/generic/_elevations'

/*------------------------------------------------------------------
[Generic Transitions]
*/      
@import '~vuetify/src/stylus/generic/_transitions'

/*------------------------------------------------------------------
[Common Html Elements]
*/    
@import '~vuetify/src/stylus/elements/_global'
@import '~vuetify/src/stylus/elements/_blockquote'
@import '~vuetify/src/stylus/elements/_code'
@import '~vuetify/src/stylus/elements/_headings'
@import '~vuetify/src/stylus/elements/_lists'
@import '~vuetify/src/stylus/elements/_typography'

/*------------------------------------------------------------------
[Common Styling helpers]
*/    
@import '~vuetify/src/stylus/trumps/_display'
@import '~vuetify/src/stylus/trumps/_spacing'
@import '~vuetify/src/stylus/trumps/_text'
@import '~vuetify/src/stylus/trumps/_helpers'

 
/*------------------------------------------------------------------
[Components Alert]
*/
@import '~vuetify/src/stylus/components/_alerts'

/*------------------------------------------------------------------
[Components App]
*/
@import '~vuetify/src/stylus/components/_app'

/*------------------------------------------------------------------
[Components Avatar]
*/
@import '~vuetify/src/stylus/components/_avatars'

/*------------------------------------------------------------------
[Components Badge]
*/
@import '~vuetify/src/stylus/components/_badges'

/*------------------------------------------------------------------
[Components Bottom Nav]
*/
@import '~vuetify/src/stylus/components/_bottom-navs'

/*------------------------------------------------------------------
[Components Toggle Buttom]
*/
@import '~vuetify/src/stylus/components/_button-toggle'

/*------------------------------------------------------------------
[Components Button]
*/
@import '~vuetify/src/stylus/components/_buttons'

/*------------------------------------------------------------------
[Components Card]
*/
@import '~vuetify/src/stylus/components/_cards'

/*------------------------------------------------------------------
[Components Content]
*/
@import '~vuetify/src/stylus/components/_content'

/*------------------------------------------------------------------
[Components Counter]
*/
@import '~vuetify/src/stylus/components/_counters'

/*------------------------------------------------------------------
[Components Dialog]
*/  
@import '~vuetify/src/stylus/components/_dialogs'

/*------------------------------------------------------------------
[Components Divider]
*/
@import '~vuetify/src/stylus/components/_dividers'

/*------------------------------------------------------------------
[Components Expansion Panel]
*/
@import '~vuetify/src/stylus/components/_expansion-panel'

/*------------------------------------------------------------------
[Components Form]
*/
@import '~vuetify/src/stylus/components/_forms'

/*------------------------------------------------------------------
[Components Grid]
*/
@import '~vuetify/src/stylus/components/_grid'

/*------------------------------------------------------------------
[Components Icon]
*/
@import '~vuetify/src/stylus/components/_icons'

/*------------------------------------------------------------------
[Components Input]
*/
@import '~vuetify/src/stylus/components/_inputs'

/*------------------------------------------------------------------
[Components Label]
*/
@import '~vuetify/src/stylus/components/_labels'

/*------------------------------------------------------------------
[Components List]
*/
@import '~vuetify/src/stylus/components/_lists'
.v-list
  .v-list__tile--link:hover,
  .v-list__tile--highlighted,
  .v-list__group__header:hover
  .v-list__group--active:before,
  .v-list__group--active:after
    background: #f5f5f5!important
/*------------------------------------------------------------------
[Components Menu]
*/
@import '~vuetify/src/stylus/components/_menus'

/*------------------------------------------------------------------
[Components Message]
*/
@import '~vuetify/src/stylus/components/_messages'

/*------------------------------------------------------------------
[Components Navigation Drawer]
*/
@import '~vuetify/src/stylus/components/_navigation-drawer'

/*------------------------------------------------------------------
[Components Overflow Button]
*/
@import '~vuetify/src/stylus/components/_overflow-buttons'

/*------------------------------------------------------------------
[Components Overlay]
*/
@import '~vuetify/src/stylus/components/_overlay'

/*------------------------------------------------------------------
[Components Progress]
*/
@import '~vuetify/src/stylus/components/_progress-circular'
@import '~vuetify/src/stylus/components/_progress-linear'

/*------------------------------------------------------------------
[Components Ripple]
*/
@import '~vuetify/src/stylus/components/_ripples'

/*------------------------------------------------------------------
[Components Select]
*/
@import '~vuetify/src/stylus/components/_select'
@import '~vuetify/src/stylus/components/_selection-controls'

/*------------------------------------------------------------------
[Components Small Dialog]
*/
@import '~vuetify/src/stylus/components/_small-dialog'

/*------------------------------------------------------------------
[Components Subheader]
*/
@import '~vuetify/src/stylus/components/_subheaders'  

/*------------------------------------------------------------------
[Components Text Field]
*/
@import '~vuetify/src/stylus/components/_text-fields'

/*------------------------------------------------------------------
[Components Text Area]
*/
@import '~vuetify/src/stylus/components/_textarea'

/*------------------------------------------------------------------
[Components Toolbar]
*/
@import '~vuetify/src/stylus/components/_toolbar'

/*------------------------------------------------------------------
[Components Tooltip]
*/
@import '~vuetify/src/stylus/components/_tooltips'

/*------------------------------------------------------------------
[Global]
*/
body
  font-family: $body-font-family
  font-size: $font-size-root
  font-weight: $font-weights.regular
  line-height: $line-height-root
h1
  font-size: 48px
  font-weight: $font-weights.thin
  letter-spacing: -1.5

h2
  font-size: 36px
  font-weight: $font-weights.light
  letter-spacing: -0.5

h3 
  font-size: 24px
  font-weight: $font-weights.light
  letter-spacing: normal

h4 
  font-size: 20px
  font-weight: $font-weights.light
  letter-spacing: normal
h5 
  font-size: 16px
  font-weight: $font-weights.regular
  letter-spacing: normal

/*------------------------------------------------------------------
[4. Components / Card]
*/  
.v-card
  // box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
  &__actions 
    .v-btn 
      margin: 0 8px;
      min-width: 56px
      &:first-child
        margin-left: 0

/*------------------------------------------------------------------
[Components / Chat]
*/
.chat
  &-history
    &--toolbar
      box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
    &--list
      a.list__tile--active
        background: #eee
    &--scrollbar
      height:calc(100vh - 48px)
      @media $display-breakpoints.sm-and-down
        height:calc(100vh - 48px - 56px)
  &-room
    &--toolbar
      box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
    &--scrollbar
      height: calc(100vh - 48px - 80px)
